<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 위젯 배치 검증 전용. debug 빌드에만 병합된다. -->
        <activity
            android:name="io.github.sennaseo.csstudy.widget.PinWidgetActivity"
            android:exported="true" />
    </application>
</manifest>
